//- Default site navigation bar
div(class='d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom' id='site-navbar')
	h5(class='my-0 mr-md-auto font-weight-bold')
		a(class='p-2 text-dark h3' href='/')
			| CU Cybersecurity Club
	nav(class='navbar navbar-light' id='site-navbar-item')
		a(class='p-2 text-muted nav-link' href='/leaderboards')
			| Leaderboards
