//- generic site footer
footer(class='pt-2' id='site-footer')
	div(class='container py-4' id='site-footer-container')
		div(class='row')
			div(class='col-6 col-md')
				h5
					| Contact
				ul(class='list-unstyled text-small')
					li
						| Email: 
						a(class='text-muted' href='mailto:EthicalHacking@colorado.edu')
							| EthicalHacking@colorado.edu
					li
						| Slack channel: 
						a(class='text-muted' href='https://cucybersecurityclub.slack.com')
							| cucybersecurity.slack.com
			div(class='col-5 col-md')
				h5
					| Resources
				ul(class='list-unstyled text-small')
					li
						a(class='text-muted' href='https://github.com/CU-Cybersecurity-Club/CTF-scoreboard')
							| GitHub
						
