extends default

block content
	div(id='site-block-container')
		div(class='px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center')
			h1.display-4= title
			p.lead
				| Welcome to the site of the CU Cybersecurity Club
