extends default

block custom-stylesheets
block custom-javascripts
block content
	div(id='site-block-container')
		div(class='px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center hidden-heading')
			h1(class='display-4')= title
			p.lead
				| Welcome to the site of the CU Cybersecurity Club
