extends bio-default

block profile-image
	img(src='images/Will_Shand.jpeg' alt='Picture of Will Shand')

block name
	| Will Shand

block role
	| Community Outreach Coordinator

block bio
	| Will Shand is a third-year student at CU, majoring in applied mathematics and computer science. His role in CU Cybersecurity involves recruiting students to join the club through advertising, attending community events, and developing this site. Outside of the club, he is a cofounder and editor of the <a href='https://www.colorado.edu/studentgroups/cjam/'>Colorado Journal of Applied Mathematics</a>. He also does research in optimization and computational geometry.
